.form-container {
    padding: 20px;
    background-color: white;
}


.form {
    display: flex;
    flex-direction: column;
}

.checkbox {
    width: fit-content;
}

input {
    margin: 10px;
}

button {
    padding: 20px;
    background-color: green;
    color: white;
    border: none;
}

input[type="checkbox" i]  {
    width: 20px;
}